<div class="flex items-center justify-end bg-blue-600 pr-6 h-[15vh]">
  <span class="text-white font-extralight">Welcome&nbsp;</span>
  <span class="text-white font-light">hello&#64;demo.com</span>
</div>

<div class="grid grid-cols-12 h-[85vh]">
  <div class="col-span-2 bg-gray-200">
  </div>

  <div class="col-span-10">
    <!-- Navbar -->
    <div class="flex justify-between items-center h-12">
      <div class="flex space-x-4 h-full">
        <a href="#" class="flex justify-center items-center text-white bg-blue-600 px-8">Manage Settings</a>
        <a href="#" class="flex justify-center items-center text-gray">List</a>
      </div>
      <div>
        <a href="#" class="flex justify-center items-center text-gray pr-8">Sign Out</a>
      </div>
    </div>
    <div class="mt-20 pl-14">
      <button class="bg-main-yellow px-4 py-4 w-[250px]">User Settings</button>
      <button class="bg-gray-100 px-4 py-4 w-[250px]">Third Party User Settings</button>
      <app-user-settings-form></app-user-settings-form>
    </div>
  </div>
</div>
