<form class="pl-12 pt-16 w-[88%]"[formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label class="block mb-3 text-text-blur">User Password</label>
    <input type="password" formControlName="password" placeholder="Enter your new password"
           class="w-full px-2 py-4 border rounded">
  </div>

  <div class="mb-8">
    <label class="block mb-3 text-text-blur">Confirm Password</label>
    <input type="password" formControlName="confirmPassword" placeholder="Re-enter your new password"
           class="w-full px-2 py-4 border rounded">
  </div>

  <div class="flex justify-between">
    <button type="button" class="bg-btn-cancel  text-main-text w-[150px] py-4 rounded mr-2">Cancel</button>
    <button type="submit" class="bg-btn-save  text-main-text w-[150px] py-4 rounded"
            [disabled]="!settingsForm.valid">Save Changes</button>
  </div>
</form>
